html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */

/* general class */

.container{
   width: 100%;
   margin: 20px 10px 20px 60px ;
}


body {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 15px;
}
header {
    width: 100%;
    background-color: darkblue;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 0px;
    font-size: 30px;
    word-spacing: 15px;
}
.blog {
    color: green;
    text-decoration: none;
    font-weight: bold;
   }
.home {
    color: white;
    text-decoration: none;
}
.image-one{
    display: inline-block;
    width: 45%;
    margin-right: 30px;
}
.image-one img {
    width: 100%;
    display: inline-block;
    height: 300px;
}
.standard{
    width: 45%;
    margin-left: 30px;
    display: inline-block;
    height: 300px;
    vertical-align: bottom;
}
.standard a{
    display: inline-block;
    color: green;
    font-weight: bold;
}
h1 {
    font-size: 35px;
    color: blue;
}
h2 {
    font-size: 35px;
    color: blue;
}
button {
    background-color: green;
    width: 120px;
    height: 40px;
    border-radius: 30%;
}